/* Large Screen view */

.home-container {
  height: 100vw;
  width: 100vw;
}

.home-splash {
  height: 760px;
  width: 100%;
  position: relative;
}

.hero {
  background-image: url(../../public/imgs/home-hero.jpg);
  background-size: cover;
  background-clip: content-box;
  height: 100%;
  width: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-title-container {
  /* border: red 1px solid; */
  width: 60%;
  margin: auto;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  font-family: ui-serif;
  margin-top: 80px;
  text-align: center;
}

.hero-btn-container {
  text-align: center;
  margin-top: 60px;
}

#book-btn {
  margin: 1rem 1.5rem;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
}

#book-btn:hover {
  background-color: white;
  color: black;
}

#book-btn2 {
  margin: 1rem 1.5rem;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
}

#book-btn2:hover {
  background-color: transparent;
  color: white;
}

.basic-info-container {
  margin-top: 6em;
}

#basic-info-section {
  display: none;
}

#service-btn-container {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
  #book-btn3 {
    margin: 1rem 1.5rem;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

/* laptop view */
@media (max-width: 1250px){
  .basic-info-container {
    /* margin-top: 2em; */
    display: none;
  }

  .hero-title {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: ui-serif;
    margin-top: 80px;
    text-align: center;
  }

  #basic-info-section {
    background-color: #f5e1d3;
    display: block;
    padding: 60px 0px;

  }
}

@media (max-width: 900px) {
  .home-splash{
    height: 400px;
  }

  .hero-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: ui-serif;
    margin-top: 40px;
    text-align: center;
  }

  .hero-btn-container {
    margin-top: 30px;
  }

  #book-btn{
    margin: 0.5rem 1rem;
  }

  #book-btn2{
    margin: 0.5rem 1rem;
  }

  #book-btn3 {
    margin: 0.5rem 1rem;
  }

  .basic-info-section .active {
    background-color: #f5e1d3;
    display: block;
  }

  .service-menu-container{
    width: 80%;
  }
}

/* Tablet view */
@media (max-width: 650px) {
  .home-splash{
    height: 360px;
  }

  .hero-title-container {
    color: white;
    /* border: red 1px solid; */
    width: 60%;
    margin-top: 30px;
  }

  div.hero-title {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  .hero-btn-container {
    margin-top: 30px;
  }

  #book-btn {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }

  #book-btn2 {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }

  .basic-info-container {
    display: none;
  }

}

/* @media (max-width: 600px) {
  .hero-title-container {
    color: white;
    border: red 1px solid;
    width: 60%;
    margin-top: 0;
  }

  div.hero-title {
    font-size: 0.75rem;
    margin-top: 0px;
  }

  .hero-btn-container {
    margin: 0;
  }

  #book-btn {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }

  #book-btn2 {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }
  .basic-info-container {
    display: none;
  }
} */