/* Large Screen view */

.home-container {
  height: 100vw;
  width: 100vw;
}

.home-splash {
  height: 760px;
  width: 100%;
  position: relative;
}

.hero {
  background-image: url(../../public/imgs/home-hero.jpg);
  background-size: cover;
  background-clip: content-box;
  height: 100%;
  width: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-title-container {
  /* border: red 1px solid; */
  width: 60%;
  margin: auto;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  font-family: ui-serif;
  margin-top: 120px;
  text-align: center;
}

.hero-btn-container {
  text-align: center;
  margin-top: 120px;
}

#book-btn {
  margin: 1rem 1.5rem;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 60px;
}

#book-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#book-btn2 {
  margin: 1rem 1.5rem;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
}

#book-btn2:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
#link2book{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
#link2menu{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.basic-info-container {
  color: white;
  padding-top: 300px;
  transform: translateY(-300px);
  transition-duration: 2s;
}

#basic-info-section {
  display: none;
}
#basic-info-section2{
  display: block;
  background-color: #fdf3eb;
  padding: 30px;
}

#service-btn-container {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
  #book-btn3 {
    margin: 1rem 1.5rem;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

.gallery-section{
  width: 100%;
  height: auto;
  margin: 30px 0px;
  }
.gallery-title{
  text-align: center;
  margin: 60px 0px;
  font-size: 3rem;
  font-weight: 500;
  font-family: ui-serif;
}
.gallery-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 95%;
  margin: auto;
}

  .div-1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1 / 3;
    background-color: gray;
    height: 40rem;
  }
  .div-2{
    grid-area: 1 / 3 / 2 / 4;
    background-color: gray;
  }
  .div-3{
    background-color: gray;
  }
  .div-4{
    background-color: gray;
  }
  .div-5{
    background-color: gray;
  }
  .div-6{
    background-color: gray;
  }
  .div-7{
    background-color: gray;
  }

.review-btn-container{
  text-align: center;
  margin: 60px 0px 60px 0px;
}
  #book-btn4{
    margin: 1rem 1.5rem;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
  }
/* laptop view */
@media (max-width: 1250px){
  .basic-info-container {
    /* margin-top: 2em; */
    display: none;
  }

  .hero-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: ui-serif;
    margin-top: 150px;
    text-align: center;
  }
  .hero-btn-container{
    margin-top: 90px;
  }

  #book-btn {
    margin-right: 30px;
  }
  #book-btn2 {
    margin-left: 30px;
  }

  #basic-info-section {
    background-color: #f5e1d3;
    display: block;
    padding: 60px 0px;

  }

  .service-menu-container{
    width: 60%;
  }
}

@media (max-width: 900px) {
  .home-splash{
    height: 400px;
  }

  .hero-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: ui-serif;
    margin-top: 40px;
    text-align: center;
  }

  .hero-btn-container {
    margin-top: 30px;
  }

  #book-btn{
    margin: 0.5rem 1rem;
  }

  #book-btn2{
    margin: 0.5rem 1rem;
  }

  #book-btn3 {
    margin: 0.5rem 1rem;
  }

  .basic-info-section .active {
    background-color: #f5e1d3;
    display: block;
  }

  .service-menu-container{
    width: 80%;
  }
}

/* Tablet view */
@media (max-width: 650px) {
  .home-splash{
    height: 390px;
  }

  .hero-title-container {
    color: white;
    /* border: red 1px solid; */
    width: 60%;
    margin-top: 30px;
  }

  div.hero-title {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  .hero-btn-container {
    margin-top: 30px;
  }

  #book-btn {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }

  #book-btn2 {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }
  .review-info{
    margin-bottom: 15px;
  }
    .review-info p{
      margin-top: 15px;
    }
  .basic-info-container,
  .gallery-container,
  .gallery-title{
    display: none;
  }
}

/* @media (max-width: 600px) {
  .hero-title-container {
    color: white;
    border: red 1px solid;
    width: 60%;
    margin-top: 0;
  }

  div.hero-title {
    font-size: 0.75rem;
    margin-top: 0px;
  }

  .hero-btn-container {
    margin: 0;
  }

  #book-btn {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }

  #book-btn2 {
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5rem;
  }
  .basic-info-container {
    display: none;
  }
} */