

/* Desktop View */
  .header {
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height:auto;
    width: 100%;
  }
    /* .header:hover{
      background-color: white;
      color: black;
    } */

  #hover:hover{
    background-color: white;
    color: black !important;
    /* how to make all text in hover div black  */
  }

  .top-nav {
    display: flex;
    color: white;
    border-bottom: 1px white solid;
    /* border: 1px red solid; */
  }
    /* .top-nav:hover{
      color: black;
      border-bottom: 1px gray solid;
    } */

  .social-container {
    display: flex;
    justify-content: start;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px red solid; */
  }
    .social-icon{
      margin: 20px;
    }

  h2 {
    /* border: 1px red solid; */
    margin: auto;
    padding-top: 10px;
    font-size: larger;
    text-decoration: none;
    text-align: center;
  }
  

  .btn-container{
    background-color: transparent;
    flex-direction: end;
    padding-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px white solid;
    color: white;
  }
    /* .nav-container:hover {
      color: black;
      border-bottom: 1px gray solid;
      background-color: white;
    } */

  a {
    text-decoration: none;
    color: white;
  }
  
  /* .logo {
    width: 45px;
    height: 45px;
  } */
  
  .nav-options {
    padding-left: 25px;
    display: flex;
    list-style-type: none;
    margin: auto;
  }
    /* .nav-options:hover{
      color:black;
    } */

  .nav-link{
    color: white;
  }
  
  .option {
    padding: 0px 25px;
  }
  
  .mobile-menu {
    display: none;
    color: white;
  }

  
  .option :hover {
    color: white;
  }

/* mobile view */
@media (max-width: 649px) {
  .header.active {
    background-color: white;
    height:auto;
    width: 100%;
  }

  .top-nav.active {
    background-color: white;
    color: black;
  }

  .social-container{
    display: none;
  }

  .btn-container{
    display: none;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top:80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0;
  }

  .nav-options.active{
    background-color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
    }

    .mobile-menu {
      display: block;
      color: white;
    }
}