

/* Desktop View */
  .header {
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height:auto;
    width: 100%;
  }
    /* .header:hover{
      background-color: white;
      color: black;
    } */

#hover-active{
  background-color: #f5e1d3;
}


  .top-nav {
    display: flex;
    color: white;
    border-bottom: 1px rgba(195, 195, 195, 0.231) solid;
    /* border: 1px red solid; */
  }
    /* .top-nav:hover{
      color: black;
      border-bottom: 1px gray solid;
    } */

  .social-container {
    display: flex;
    justify-content: start;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 10px;
    /* border: 1px red solid; */
  }
    .social-icon{
      margin: 20px;
    }

  #logo-link-n{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  h2 {
    /* border: 1px red solid; */
    margin: auto;
    padding-top: 5px;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    font-family: ui-serif;
    font-weight: 200;
  }
    .logo{
      margin-top: 10px;
    }
      .logo.white{
        color: black;
      }
      .logo.white:hover{
        color: gray;
      }
  

  .btn-container{
    /* background-color: transparent; */
    /* flex-direction: end; */
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: auto;
  }
  
  .nav-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px rgba(195, 195, 195, 0.231) solid;
    color: white;
  }
    /* .nav-container:hover {
      color: black;
      border-bottom: 1px gray solid;
      background-color: white;
    } */

  /* a {
    text-decoration: none;
    color: white;
  } */
  
  /* .logo {
    width: 45px;
    height: 45px;
  } */
  
  .nav-options {
    padding-left: 25px;
    display: flex;
    list-style-type: none;
    margin-bottom: 10px;

  }
    /* .nav-options:hover{
      color:black;
    } */

  .nav-link{
    color: white;
  }
  .nav-link.white{
    color: black;
  }
    .nav-link.white:hover{
      color: gray;
    }
  
  .option {
    padding: 0px 25px;
  }
  
  .mobile-menu {
    display: none;
    color: white;
  }

  .menu-icon{
    display: none;
  }

  
  .option :hover {
    color: white;
  }

/* Tablet view */
@media (max-width: 900px){
  .header.active {
    background-color: white;
    height:auto;
    width: 100%;
  }

  #hover-active{
    background-color: transparent;
  }

  .top-nav.active {
    background-color: white;
    color: black;
  }
    .top-nav{
      border-bottom: none;
    }

  .social-container{
    display: none;
  }

  .btn-container{
    display: none;
  }

  h2.logo {
    width: 45px;
    height: 45px;
    padding:0;
  }
  

  .nav-container{
    border-bottom: none;
    margin-top: inherit;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top:80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0;
  }

  .nav-options.active{
    background-color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0;
  }

  .menu-icon {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
  }
    svg.nav-icon{
      height: 45px;
      width: 45px;
    }
}

/* mobile view */
@media (max-width: 649px) {
  .header.active {
    background-color: white;
    height:auto;
    width: 100%;
  }

  .top-nav.active {
    background-color: white;
    color: black;
  }
    .top-nav{
      color: white;
      border-bottom: none;
    }

  .social-container{
    display: none;
  }

  .btn-container{
    display: none;
  }

  h2.logo {
    width: 45px;
    height: 45px;
    padding:0;
    margin-top: 20px;
  }
    .logo.white{
      color: white;
    }

  .nav-container{
    border-bottom: none;
    margin-top: inherit;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top:80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0;
  }

  .nav-options.active{
    background-color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0;
    color: black;
  }

  .menu-icon {
    display: block;
    margin-right: 5px;
    margin-top: 5px;
  }
    svg.nav-icon{
      width: 25px;
      height: 25px;
    }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
    }

    .mobile-menu {
      display: block;
      color: white;
    }
}