.store-data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  width: 100%;
  justify-content: space-evenly;
}


.info-container{
  text-align: center;
  padding: 30px;
}
.title-container{
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.info-container:last-child .details-container{
  width: 200px;
  margin: auto;
}

table {
  text-align: center;
  margin: auto;
  color: white;
}

thead {
  text-align: center;
}

th:last-child div {
  margin: auto;
  width: 50%;
}

th:last-child {
  width: 30%;
}

.info-header {
  font-weight: 600;
}